[known_addresses]
#    f3waqhsynu4a3w2a4mcwfaprd4fu6rgd3uuvt7mwj5v24br7u6vcb37xbvgbdgekaav3vcc3m6spz6etuh4aja = "Twin Quasar / s0nik42"
#    f0421499 = "Protocol Labs"

[external_wallets]
#    f0121 = "Filecoin Foundation"
